body {
  color: black;
  background: url("images/groovepaper.png");
  margin-right: 10%;
  margin-left: 10%;
  font-size: medium;
  font-family: "Garamond", serif;
  text-align: justify;
}

/* Theme paragraphs with CSS */
p {
  text-indent: 1em;
  margin-top: 0.25em;
  margin-bottom: 0.25em;
}
p:first-letter {
  font-family: "Georgia", serif;
  font-size: 1.5rem;
}

/* Theme header tags with CSS */
hr {
  border: none;
  border-top: 1px solid;
  height: 0;
  margin: 1.5em auto;
  width: 25%;
}

h1,
h2,
h3,
h4,
h5 {
  text-align: center;
  font-style: normal;
  font-weight: normal;
  line-height: 1.5;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

h1 {
  font-family: "Georgia", serif;
  font-size: 3rem;
  text-transform: uppercase;
  margin-bottom: 6rem;
  letter-spacing: 0.1rem;
}
h2 {
  font-family: "Georgia", serif;
  font-size: 2rem;
  text-transform: uppercase;
  margin-bottom: 3rem;
}

hr {
  width: 50%;
  text-align: center;
}

/* Theme images and images captions with CSS */
.fig {
  text-align: center;
  width: 100% !important;
}

img {
  width: 20% !important;
  height: auto;
  display: inline;
  border-radius: 10px;
  border-style: ridge;
  box-shadow: 5px 5px 5px blanchedalmond;
}

a:link {
  color: blue;
  text-decoration: none;
}
a:visited {
  color: gray;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}

/* style from downloaded html file */
.dedication {
  text-align: center;
}

.epigraph {
  font-style: italic;
  margin: 3em auto;
  max-width: 40em;
}

cite {
  display: block;
  font-style: normal;
  font-variant: small-caps;
  margin-top: 1em;
  text-align: right;
}

b {
  font-variant: small-caps;
  font-weight: normal;
}

.toc {
  text-align: center;
}

.toc ol {
  display: inline-block;
  list-style: none;
  margin: auto;
  padding-left: 0;
}
